.races-container{
    padding: 1rem;
}

.standings-heading {
    font-size: 3rem;
    padding: 0.5em 0em 0em 0.5em;
    font-weight: 600;
    
}

.driversOrConstructors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* Space between Drivers and Constructors */
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: normal;
    /* margin: 5px 0; */
}

.driversOrConstructors h3 {
    cursor: pointer;
    position: relative;
    color: inherit;
    /* Default color */
    transition: color 0.3s ease, transform 0.3s ease, font-weight 0.3s ease;
    font-weight: normal;
}

.driversOrConstructors h3:hover {
    color: #ff7e5f;
    /* color: greenyellow; */
    /* Hover color */
    transform: scale(1.1);
    font-family: 'Poppins', sans-serif;
    /* Ensure the font stays the same */
    font-weight: 500;
    /* Poppins Medium */
    /* Slightly enlarge on hover */
}

.driversOrConstructors span {
    color: rgb(207, 201, 201);
    /* Separator line color */
    font-size: 3.5rem;
    font-family: 'Courier New', Courier, monospace;
    /* Size of the separator */
}

/* Selected styles with animation */
.driversOrConstructors .selected {
    color: #ff7e5f;
    /* Highlighted color */
    /* font-weight: bold; */
    transform: scale(1.1);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.driversOrConstructors .selected::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 3px;
    background-color: #ff7e5f;
    /* Underline for the selected item */
    animation: underlineSlide 0.4s ease forwards;
}

/* Underline animation */
@keyframes underlineSlide {
    0% {
        width: 0;
        left: 50%;
    }

    100% {
        width: 100%;
        left: 0;
    }
}