.races-container{
    padding: var(--page-div-block-padding);
}


.driversOrConstructors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.3em;
}

.driversOrConstructors h3 {
    cursor: pointer;
    position: relative;
    color: inherit;
    font-weight: 500;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.driversOrConstructors h3:hover {
    color: var(--foreground); 
    transform: scale(1.05);
}

.driversOrConstructors span {
    color: rgb(207, 201, 201);
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
}

/* Selected styles */
.driversOrConstructors .selected {
    color: var(--selected-heading-color); /* Highlighted color */
    transform: scale(1.05);
    font-weight: 500;
    position: relative;
}

.driversOrConstructors .selected::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    height: 3px;
    background-color: var(--selected-heading-color);
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    animation: underlineSlide 0.3s ease forwards;
}

@keyframes underlineSlide {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

/* Hover underline for all items */
.driversOrConstructors h3::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    height: 2px;
    width: 0;
    background-color: var(--foreground);
    transition: width 0.3s ease, left 0.3s ease;
}

.driversOrConstructors h3:hover::before {
    width: 100%;
    left: 0;
}

