/* .races-container{
    padding: var(--page-div-block-padding);
} */


.driversOrConstructors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    font-size: 1.3em;
}

.driversOrConstructors h3 {
    cursor: pointer;
    position: relative;
    color: inherit;
    font-weight: 500;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}


.driversOrConstructors span {
    color: rgb(207, 201, 201);
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
}


@keyframes underlineSlide {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

/* Hover underline for all items */
.driversOrConstructors h3::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    height: 2px;
    width: 0;
    /* background-color:rgba(245, 8, 8, 0.954); */
    background: linear-gradient(90deg, blue, red, blue);
    background-size: 300%;

    transition: width 0.3s ease, left 0.3s ease;
}

.driversOrConstructors h3:hover::before {
    width: 100%;
    left: 0;
}

