
/* Navbar container styling */
.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 1em 0em 3em;
    /* padding-bottom: 1.2em; */
    /* border-bottom: red 2px solid; */
    font-weight: 500;
}

/* .Navbar.no-bottom-border{
    border-bottom: none;
} */

.website-logo img {
    margin-left: 10px;
    width: 100px;
    transition: transform 0.3s ease;
}

.website-logo img:hover {
    transform: scale(1.1);
}

.links {
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
    gap: 2em;
    margin-right: 2em;
}

.links p {
    cursor: pointer;
    position: relative;
}


.Navbar .links .link:hover {
    /* color: var(--selected-heading-color); */
    background: linear-gradient(90deg, red, blue, purple);
    background-size: 300% 300%; /* For smooth gradient animation */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 3s infinite;
    /* Change color on hover if desired */
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Keep the selected styles */
.Navbar .links .selected {
    color: var(--selected-heading-color);
    /* Highlight color when selected */
    text-decoration: none;
    background: linear-gradient(90deg, red, rgb(81, 0, 255), purple);
    background-size: 300% 300%; /* For smooth gradient animation */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 15s infinite;
    /* Ensure no underline when selected */
}

/* Responsive navbar layout */
@media (max-width: 768px) {
    .Navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .Navbar .links {
        flex-direction: column;
        gap: 10px;
    }

    .Navbar .website-logo img {
        width: 120px;
    }
}