.racecount-widget {
    border: 0.2px solid rgb(241, 165, 14);
}

.racecount-widget:hover {
    box-shadow: 0 0px 10px rgba(220, 148, 5, 0.781);
}

.racecount-widget-value {
    color: rgb(241, 165, 14);
}