/* Container for the standings table */
.standings-container {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    max-height: 600px;
    overflow-y: auto;
    margin: 0;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.loading-container video {
    height: 25%;
}



.driver-standing-header {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1.5fr 0.8fr 0.8fr 0.8fr;
    background-color: #282828;
    color: #ffffff;
    font-weight: bold;
    padding: 1em;
    margin-bottom: 0.5em;
    border-radius: 8px;
    width: 100%;
    margin: 0.5em 0;
    font-size: 1.1em;
    /* box-shadow: 0px 0px 30px rgba(170, 1, 1, 0.1); */
}

.driver-standing-header-item {
    text-align: center;
}

.number-heading {
    position: relative;
    left: 0.9em;
}

.driver-heading {
    text-align: left;
    padding-left: 2rem;
    position: relative;
    left: 1em;
}

.constructor-heading-driver-table {
    text-align: left;
    position: relative;
    right: 1em;
}

.points-heading-driver-table {
    position: relative;
    right: 1.3em;
}

.wins-heading-driver-table {
    position: relative;
    right: 1.6em;
}



/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .driver-standing-header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        padding: 0.8em;
    }

    .driver-standing-header-item {
        text-align: center;
        font-size: 1rem;
    }

    /* Hide unnecessary columns on small screens */
    .number-heading,
    .constructor-heading-driver-table,
    .wins-heading-driver-table {
        display: none;
    }

    /* Adjust positioning for remaining items */
    .driver-heading {
        text-align: center;
        padding-left: 0;
        position: static;
    }

    .points-heading-driver-table {
        position: static;
    }

    .driver-standing-item {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        padding: 1em;
        align-items: center;
    }

    .driver-standing-item>div {
        text-align: center;
    }

    .standings-container {
        max-height: 400px !important;
        overflow-y: auto;
    }
}

@media (max-width:768px){
    .heading-and-items{
        min-width: 350px;
        position: relative;
        right: 20px;
        scale: 0.9;
    }
}
