.race-items-container-heading{
    font-size: 3rem;
    padding: 0.5em 0em 0em 0.5em;
    font-weight: 600;
}

.race-items-container {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: stretch;
    flex-direction: row;
    gap: 1em;
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 1em;
    scroll-behavior: smooth; /* Optional: Smooth scrolling */
    scrollbar-width: none; /* Firefox */
    /* box-shadow: 0px 0px 80px 5px rgba(0, 0, 0, 0.3); */
  }
  
  
  .race-items-container::-webkit-scrollbar {
    height: 10px; /* Horizontal scrollbar height */
  }
  
  .race-items-container::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
  }
  
  
  