.raceanalyticsdisplay-heading{
    font-size: 3rem;
    margin-left: 20px;
    font-weight: 500;
}

.analytic-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 30px;

}

.analytic-img{
    /* width: 70%; */
    height: 80vh;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

@media(max-width: 768px){
    .analytic-img{
        height: auto;
        scale: 0.9;
    }
    .analytic-img-container{
        overflow: auto;
    }
    .raceanalyticsdisplay-heading{
        font-size: 1.5rem;
        margin-top: 10px;
    }
}

